<!DOCTYPE html>
<html>
<head>
  <title>Notebook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>
<body>

	<div id="container" class="notepad">

		<header>
			<h1>
				<%= link_to image_tag('noun_project_1816.png', :size => '75x130'), root_url %>
				<%= link_to "Don't Forget", root_url %>
			</h1>
		</header>

		<section>
			<%= yield %>
		</section>

</body>
</html>
